.app-CalendarLegend {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .color-box {
    width: 30px;
    height: 30px;
    margin: 0 auto;

    align-self: center;

    &__closed {
      background-color: $gray-light;
    }

    &__selection {
      background-color: #29549A;
      border: 1px solid $hel-coat
    }

    &__taken {
      background-color: $red;
    }

    &__available{
      background-color: $white;
      border: 1px solid $gray;
    }
  }
}
