// Colors
// -----

$white:         #ffffff;
$tre-yellow:    #fbba00;
$tre-red:       #d54b0b;
$tre-blue:      #006b9f;
$tre-green:     #95ad39;
$tre-gray:      #9c9b9b;

// Typography
// ----------

$font-family-base:       "Open Sans", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
$headings-font-family:   "Lato", Helvetica, Arial, sans-serif;
$font-weight-regular:    400;
$font-weight-bold:       700;
