// Tampere Brand variables
// Variable names are in finnish to stay consistent with the style guide
// Source: https://www.tampere.fi/tiedostot/g/68AHPEQPX/graafinen_ohjeisto.pdf

// Main brand colors (fi: Päävärit)
$brand-tunnelma:   #c83e36;
$brand-muutos:     #cb4a6c;
$brand-tyo:        #29549a;
$brand-koti:       #39a7d7;
$brand-kokemus:    #abc872;
$brand-idea:       #f4d240;

// Additional colors (fi: Lisävärit)
$brand-tumma-vesi:      #00417d;
$brand-usva:            #668ec9;
$brand-tiilenpunainen:  #eb5e58;
$brand-vaaleanharmaa:   #bebfbf;
$brand-paahde:          #e8b455;
$brand-vedensininen:    #91c9ea;

// Basic color (fi: Perusvärit)
$brand-vaaleanharmaa:      #bebfbf;
$brand-siniharmaa:         #cad6e2;
$brand-vaalea-siniharmaa:  #e5eef8;


// Commonly used color variables
$white:         #ffffff;
$black:         #191919;
$blue-light:    $brand-koti;
$blue:          $brand-tyo;
$green:         $brand-kokemus;
$yellow:        $brand-idea;
$orange:        $brand-paahde;
$warning:       $brand-paahde;
$red:           $brand-tunnelma;

// Helsinki overwrites
// -------------------

$theme-primary: $brand-tyo;
$theme-warning: $brand-paahde;
$theme-info:    $brand-vedensininen;
$theme-success: $brand-kokemus;

$theme-primary-dark:    $brand-tumma-vesi;
$theme-primary-light:   $brand-usva;

$theme-secondary-dark:  $brand-tunnelma;
$theme-secondary-light: $brand-tiilenpunainen;

$blue: $brand-tyo;
$green: $brand-kokemus;
$red: $brand-tunnelma;
$yellow: $brand-idea;
$copper: $brand-vaaleanharmaa;
$gold: $brand-vaaleanharmaa;
$orange: $brand-tunnelma;
$pink: $brand-tunnelma;


// Typography
// ----------

$font-family: 'Montserrat', 'Arial', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$heading-font-family: $font-family;
$font-weight-regular:    400;
$font-weight-bold:       600;


// Other
// -----

$sidebar-bg: $brand-tyo;
