@import url('//fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700');

.tampere-customizations {
  // Links
  // ----------

  a {
    color: $tre-red;
    font-family: $font-family-base;

    &:hover {
      color: darken($tre-red, 5%);
    }
  }

  // Navbar
  // ------

  .app-SideNavbar .app-Sidebar__sidebar {
    background-color: $sidebar-bg;

    h1, h2, h3, h4, h5, h6, p, a {
      color: $white;
      &:hover, &:focus {
        color: $white;
      }
    }

    .app-Navbar {
      background-color: $sidebar-bg;
      .main-nav {
        .nav.nav-stacked {
          li {
            border-bottom: 1px solid lighten($sidebar-bg, 6);
            &:first-of-type {
              border-top: 1px solid lighten($sidebar-bg, 6);
            }
          }
        }
      }
    }

    .feedback-link {
      color: rgba(255,255,255,0.6);
      &:hover, &:focus {
        color: rgba(255,255,255,0.6);
      }
    }
  }

  .app-SideNavbar__toggle {
    background-color: $sidebar-bg;
    color: $white;

    &:hover, &:focus {
      color: $white;
    }
  }

  // Footer
  // ------

  footer {
    background-color: $sidebar-bg;

    .brand-link, .brand-link:hover {
      color: #fff;
    }

    .feedback-link {
      color: #ccc;
    }

    .about-link {
      color: #fff;
    }
  }

  // About-page
  // ----------

  .about-page {
    .about-page-logos {
      margin-bottom: 20px;
      margin-top: -15px;

      .aika-logo {
        height: 40px;
        margin-top: 20px;
        margin-right: 10px;
      }
      .eu-vipuvoimaa-logo {
        height: 60px;
        margin-top: 20px;
        margin-right: 10px;
      }
      .eakr-logo {
        height: 80px;
        margin-top: 20px;
      }
    }
  }
}
