@import "./variables";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.tampere-customizations {

  // Typography
  // ----------

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $font-weight-bold;
  }

  p {
    font-family: $font-family;
    font-weight: $font-weight-regular;
  }

  // Navbar
  // ------

  .brand-logo {
    background-image: url('../../../../shared/logo/tampere-logo.png');
    background-position: center;
    background-size: 120% auto;
  }

  .app-MainNavbar {
    background-color: $blue;
  }

  // Footer
  // ------

  footer {
    background-color: $blue;

    .coat-of-arms {
      height: 75px;
      padding: 10px;
    }
  }

  // Home-page
  // ----------
  .app-HomePage__koro {
    visibility: hidden;
  }

  .app-HomePageContent {
    padding-top: 50px;
  }

  .app-HomePageContent__banner {
    &__linkWrapper {
      background-color: $brand-tiilenpunainen;

      h5 {
        color: $white;
      }

      &:hover,
      &:focus {
        h5 {
          color: $white;
        }
      }
    }
  }

  // Search-page
  // -----------

  .app-SearchFilters {
    background-color: $brand-vaalea-siniharmaa;
  }

  .app-SearchMapToggle {
    background-color: $brand-vaalea-siniharmaa;
    button {
      background-color: $brand-vaalea-siniharmaa;
      border-color: $brand-vaalea-siniharmaa;
    }
    button:hover,
    button:active, 
    button[aria-selected='true'] {
      background-color: #dedfe1;
      border-color: #dedfe1;
    }
  }

  // About-page
  // ----------

  .about-page {
    .about-page-logos {
      margin-bottom: 20px;
      margin-top: -15px;

      .aika-logo {
        height: 40px;
        margin-top: 20px;
        margin-right: 10px;
      }
      .eu-vipuvoimaa-logo {
        height: 60px;
        margin-top: 20px;
        margin-right: 10px;
      }
      .eakr-logo {
        height: 80px;
        margin-top: 20px;
      }
    }
  }

  // Modals
  // ------
  .modal {
    .modal-header::before {
      background-image: url('../../../../shared/logo/tampere-logo.png');
    }
  }
  .app-DatePickerControl__modal-header,
  .app-PurposeControl__modal-header,
  .app-PositionControl__modal-header,
  .app-PeopleCapacityControl__modal-header {
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
  }
}
